.container {
  width: 100vw;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: x-large;
}

.demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
